@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Use this application to input a time. This application will display a clock showing this time as well as tell you the angle between the hour and minute hands.</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
                <form  action="/Clock/Create" method="post">
                    <div class="form-group" id="hourFormGroup">
                        <label for="hour">Hour</label>
                        <select id="hour" name="hour">
                            @for (var i = 1; i <= 12; i++)
                            {
                                <option value="@(i)">@(i)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="minute">minute</label>
                        <select id="minute" name="minute">
                            @for (var i = 1; i <= 60; i++)
                            {
                                <option value="@(i)">@(i)</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn">View Clock!</button>
                </form>
            </div>
    </div>
</div>
